@mixin container() {
  width: 260px;
  margin: 0 30px;
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
}
