$color-main: #fff;
$color-second: #000;
$color-third: #f1f1f1;
$color-fourth: #444;
$color-fifth: #62d1ba;
$color-sixth: #46c1ae;
$color-seven: #63d1bb;
$color-eigth: #59d5bc;
$color-nine: #56c3b2;

$font-family: 'Open Sans', 'Arial', sans-serif;
