$color-main: #fff;
$color-background: #f1f1f1;
$text-color: #000;
$text-color--muted: #444;
$brand-color--lighten: #59d5bc;
$brand-color--light: #63d1bb;
$brand-color: #62d1ba;
$brand-color--dark: #56c3b2;
$brand-color--darken: #46c1ae;

$font-family: 'Open Sans', 'Arial', sans-serif;
