.feefback {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $color-fourth;
}

.feedback__title {
  font-size: 25px;
  font-weight: 700;
  color: $color-second;
}

.feedback__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: $color-second
}
;
.feedback__author-email {
  font-size: 17px;
  font-style: normal;
}
