.feedback {
  padding-bottom: 45px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $text-color;

  @media #{$tablet} {
    font-size: 17px;
  }

  @media #{desktop} {
    font-size: 17px;
  }
}

.feedback__inner {
  @include container();

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: url('../img/review@1x.jpg') no-repeat left;

    @media #{$retina} {
      background: url('../img/review@2x.jpg') no-repeat left;
      background-size: 350px auto;
    }
  }

  @media #{$desktop} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: url('../img/review@1x.jpg') no-repeat left;
    background-position: 50px;


    @media #{$retina} {
      background: url('../img/review@2x.jpg') no-repeat left;
      background-size: 350px auto;
    }

  }
}

.feedback__title {
  font-size: 25px;
  font-weight: 700;
  color: $text-color;

  @media #{$tablet} {
    order: -2;
    font-size: 43px;
    line-height: 50px;
  }

  @media #{$desktop} {
    order: -2;
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}

.feedback__item {
  margin: 0;

  @media #{$desktop} {
    margin-left: 175px;
  }
}

.feedback__author-name {
  display: block;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: $text-color;
}

.feedback__author-email {
  display: block;
  font-size: 17px;
  font-style: normal;
}

.feedback__pagination{
  display: flex;
  margin-bottom: 38px;

  @media #{$tablet} {
    margin-top: -50px;
    margin-left: 500px;
    width: 167px;
  }

  @media #{$desktop} {
    margin-top: -50px;
    margin-left: 875px;
    width: 175px;
  }

}

.feedback__arrow {
  @include img-replacement;
  display: block;
  width: 128px;
  height: 50px;
  border: 1px solid $border-color--light;
  background: url('../img/icon-left-arrow.svg') no-repeat center;

  &--next {
    background: url('../img/icon-right-arrow.svg') no-repeat center;
  }
}

.feedback__btn {

  @media #{$tablet, $desktop} {
    order: -1;
  }
}
