.form__item {

  @media #{$tablet} {
    &:nth-child(even) {
      background: $background-color;
    }
  }

  @media #{$desktop} {
    &:nth-child(even) {
      background: $background-color;
    }
  }

}

.form__inner {
  @include container();

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media #{$desktop} {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

}

.form__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: $brand-color--light;

  @media #{$tablet} {
    width: 167px;
  }

  @media #{$desktop} {
    margin-left: 61px;
    width: 114px;
  }

}

.form__group {

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    width: 501px;
  }

  @media #{$desktop} {
    display: flex;
    flex-wrap: wrap;
    width: 875px
  }


}

.form__radio {
  @media #{$tablet} {
    margin-bottom: 24px;
  }

  @media #{$desktop} {
    margin-bottom: 24px;
    width: 875px;
  }

}

.form__radio-input {
  display: none;
}

.form__radio-input + .form__radio-label {
  position: relative;
  display: block;
  padding: 11px 0;
  padding-left: 62px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $border-color--darken;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 36px;
    height: 36px;
    border: 2px solid $border-color--dark;
    border-radius: 50%;
  }

  @media #{$tablet, $desktop} {
    padding: 16px 0;
    padding-left: 80px;
    font-size: 19px;

    &::before {
      width: 48px;
      height: 48px;
    }

  }

}

.form__radio-input:checked + .form__radio-label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  width: 16px;
  height: 16px;
  background: $brand-color;
  border-radius: 50%;

  @media #{$tablet, $desktop} {
    top: 15px;
    left: 15px;
    width: 22px;
    height: 22px;
  }

}

.form__radio-input + .form__radio-label:hover::before {
  border-color: $brand-color;
}

.form__radio-input:disabled + .form__radio-label {
  border-color: rgba($border-color--dark, 0.3);
}

.form__checkbox {
  margin-bottom: 22px;

  @media #{$tablet} {
    margin-bottom: 24px;
    width: 262px;

    &:nth-child(even) {
      width: 239px;
    }

  }

  @media #{$desktop} {
    margin-bottom: 24px;
    width: 260px;

  }

}

.form__checkbox-input {
  display: none;
}

.form__checkbox-input + .form__checkbox-label {
  position: relative;
  display: block;
  padding: 11px 0;
  padding-left: 62px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $border-color--darken;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 36px;
    height: 35px;
    border: 2px solid $border-color--dark;
  }

  @media #{$tablet, $desktop} {
    padding: 16px 10px;
    padding-left: 82px;
    font-size: 19px;

    &::nth-child(2n) {
      width: 100px;
    }

    &::before {
      width: 50px;
      height: 48px;
    }
  }

}


.form__checkbox-input:checked + .form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/icon-tick.svg") no-repeat;

  @media #{$tablet, $desktop} {
    top: 15px;
    left: 15px;
  }

}

.form__checkbox-input + .form__checkbox-label:hover::before {
  border-color: $brand-color;
}

.form__checkbox-input:disabled + .form__checkbox-label::before {
  border-color: rgba($border-color--dark, 0.3);
}

.form__field {
  margin-bottom: 10px;

  @media #{$tablet} {
    display: flex;
    align-items: baseline;
    width: 501px;

    &--connect {
      width: 668px;
    }
  }

  @media #{$desktop} {
    display: flex;
    align-items: baseline;
    width: 700px;

    &--connect {
      width: 875px;
    }
  }
}

.form__field-label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $text-color;

  &--connect {
    line-height: 16px;
    text-transform: uppercase;
    color: $brand-color--light;
  }

  @media #{$tablet} {
    margin-right: 25px;

    &--connect {
      margin: 0;
      width: 167px;
    }

  }

  @media #{$desktop} {
    margin-right: 25px;

    &--connect {
      margin: 0;
      margin-left: 61px;
      width: 114px;
    }
  }

}

.form__field-input {
  margin-top: 3px;
  width: 260px;
  min-height: 48px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: rgba($text-color--muted, 0.3);
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid $border-color--darken;

  &--textarea {
    margin-top: 20px;
    padding: 15px;
    min-height: 142px;
    border: 2px solid $border-color--darken;
  }

  @media #{$tablet} {
    flex-grow: 1;
    font-size: 19px;

    &--tel {
      width: 501px;
      background: $background-color;
    }

    &--email {
      width: 501px;
      background: $background-color;
    }

    &--textarea {
      width: 501px;
    }
  }

  @media #{$desktop} {
    flex-grow: 1;
    font-size: 19px;

    &--tel {
      width: 700px;
      background: $background-color;
    }

    &--email {
      width: 700px;
      background: $background-color;
    }

    &--textarea {
      width: 700px;
    }
  }

}

.form__text {
  font-size: 14px;
  line-height: 16px;

  @media #{$tablet} {
    margin-left: auto;
    font-size: 17px;
    line-height: 30px
  }

  @media #{$desktop} {
    margin-left: auto;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__btn {
  margin-bottom: 55px;

  @media #{$tablet} {
    order: -1;
  }

  @media #{$desktop} {
    margin-left: 175px;
    order: -1;
  }
}
