.form {
  @include container();
  font-family: $font-family;
}

.form__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $brand-color--light;
}

.form__label-radio {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $text-color;
}

.form__label-checkbox {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $text-color;
}

.form__label-text {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $text-color;

  &--tel {
    @include visually-hidden;
  }

  &--email {
    @include visually-hidden;
  }

  &--textarea {
    @include visually-hidden;
  }

}

.form__field-text {
  font-family: $font-family;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: rgba($text-color--muted, 0.3);
}

.form__text {
  font-size: 14px;
  line-height: 16px;
}
