.logo  {
  outline: 1px dashed green;

  @media #{$tablet} {
  //width: 113px;
  }

  @media #{$desktop} {
    //width: 149px;
  }



  &--page-footer {
    display: none;

    @media #{$tablet} {
      display: block;
      //width: 102px;
    }

    @media #{$desktop} {
      display: block;
      //width: 102px;
    }

  }

}
