.main-footer {
  background: $color-background;
}

.main-footer__wrapper {
  @include container();
}

.main-footer span {
  @include visually-hidden;
}

.main-footer__social {
  text-align: center;
}

.main-footer__link {
  font-family: $font-family;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: $text-color;
}

.main-footer__copyright-logo {
  display: block;
  width: 27px;
  height: 34px;
  background: url('../../img/htmlacademy.svg') no-repeat;
}
