.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 35px 30px 45px 30px;
  width: 260px;
  max-height: 100%;
  background: $main-color;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.1);
  z-index: 100;
  overflow-y: auto;

  @media #{$tablet, $desktop} {
    padding: 35px 108px 45px 108px;
    width: 350px
  }
}

.modal--show {
  position: fixed;
  display: block;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($main-color, 0.9);
    z-index: 90;

  }
}
