.page-header__nav {

  @media #{$mobile} {
    position: relative;
    margin: 0 auto;
    width: 320px;
    min-height: 80px;
    background: $main-color;

    &--closed .page-header__list {
      display: none;
    }

    &--opened .page-header__inner {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      background: $main-color;
    }

    &--nojs .page-header__btn {
      display: none;
    }

    &--nojs .page-header__inner {
      position: static;
      height: auto;
    }

    &--nojs .page-header__list {
      display: block;
    }

  }
}

.page-header__inner {

  @media #{$mobile} {
    width: 320px;
  }

  @media #{$tablet} {
    @include container();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media #{$desktop} {
    @include container();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

.page-header__logo {
  display: block;
  padding-left: 115px;
  padding-top: 20px;
  min-height: 60px;

  @media #{$tablet} {
    order: -2;
    margin-left: 0;
  }

  @media #{$desktop} {
    order: -1;
    margin-left: 0;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.page-header__logo img {


  @media #{$tablet} {
    width: 113px;
    height: auto;
  }

  @media #{$desktop} {
    width: 149px;
    height: auto;
  }

}

.page-header__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media #{$mobile} {
    &--second-menu {
      display: none;
    }
  }

  @media #{$tablet} {
    display: flex;

    &--main-menu {
      width: 334px;
    }

    &--user-menu {
      order: -1;
      width: 398px;
    }

    &--second-menu {
      display: none;
    }
  }

  @media #{$desktop} {
    display: flex;
    width: 420px;

    &--main-menu {
      order: -2;
    }
  }
}

.page-header__btn {
  position: absolute;
  top: 32px;
  right: 31px;
  z-index: 2;
  display: block;
  width: 20px;
  height: 14px;
  font-size: 0;
  border: none;
  cursor: pointer;


  @media #{$tablet} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }
}

.page-header__nav--closed .page-header__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background: $nav-btn-color;
  box-shadow: 0 7px 0 0 $nav-btn-color,
              0 14px 0 0 $nav-btn-color;

}

.page-header__nav--opened .page-header__btn {
  top: 32px;
  right: 31px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 20px;
    height: 2px;
    background: $nav-btn-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__link {
  display: block;
  padding: 27px 10px;
  padding-left: 76px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: $text-color;
  border-top: 1px solid $border-color--light;
  border-bottom: 1px solid $border-color--light;

  @media #{$tablet} {
    padding: 0;
  }

  @media #{$desktop} {
    padding: 0;

  }
}

.page-header__link[href] {

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__list--main-menu  {
  .page-header__link {
    @media #{$tablet} {
      font-size: 15px;
    }
  }
}

.page-header__list--second-menu {
  .page-header__link {
    @media #{$desktop} {
      font-size: 15px;
    }
  }
}

.page-header__info {
  font-size: 15px;

  @media #{$mobile} {
    display: none;
  }
}

.page-header__intro {
  outline: 1px solid blue;
  min-height: 177px;
  background: $background-color;

    &--index {
    min-height: 489px;
    background: #fafafa url('../img/hero-mobile@1x.jpg') no-repeat 50% -20px;

    @media #{$retina} {
      background: #fafafa url('../img/hero-mobile@2x.jpg') no-repeat 50% 0%;
      background-size: 320px auto;
    }

    @media #{$tablet} {
      margin-top: -50px;
      min-height: 747px;
      background: #fafafa url('../img/hero-desktop@1x.jpg') no-repeat 50% 100%;

      @media #{$retina} {
        background: #fafafa url('../img/hero-desktop@2x.jpg') no-repeat 50% 100%;
        background-size: 768px auto;
      }
    }

    @media #{$desktop} {
      margin-top: -30px;
      min-height: 747px;
      background: #fafafa url('../img/hero-desktop@1x.jpg') no-repeat 50% 100%;

      @media #{$retina} {
        background: #fafafa url('../img/hero-desktop@2x.jpg') no-repeat 50% 100%;
        background-size: 1150px auto;
      }
    }
  }
}

.page-header__title {
  @include container();
  padding: 73px 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  &--index {
    padding-bottom: 118px;
  }


  @media #{$tablet} {
    padding-top: 95px;
    padding-bottom: 78px;
    font-size: 43px;
    line-height: 50px;

    &--index {
      padding-top: 156px;
      padding-bottom: 372px;
    }
  }

  @media #{$desktop} {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 53px;
    line-height: 57px;

    &--index {
      padding-top: 160px;
      padding-bottom: 355px;
    }
  }

}

.page-header__promo {

  @media #{$tablet} {
    @include container();
    display: flex;
  }

  @media #{$desktop} {
    @include container();
    display: flex;
  }

}

.page-header__promo-btn {
  display: block;
  padding: 28px;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
  color: $main-color;

  &--interior {
    background: $brand-color--light;
  }

  &--toys {
    background-color: $brand-color--dark;
  }

  @media #{$tablet} {
    width: 334px;
  }

  @media #{$desktop} {
    width: 525px;
  }

}
