.page-header__nav {
  background: $main-color;
}

.page-header__inner {
  @include container();

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media #{$desktop} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

.page-header__logo {

  @media #{$tablet} {
    order: -2;
  }

  @media #{$desktop} {
    order: -1;
  }
}

.page-header__list {
  outline: 1px dashed red;
  margin: 0;
  padding: 0;
  list-style: none;

  @media #{$mobile} {

    &--second-menu {
      display: none;
    }

  }

  @media #{$tablet} {
    display: flex;

    &--main-menu {
      width: 334px;
    }

    &--user-menu {
      order: -1;
      width: 398px;
    }

    &--second-menu {
      display: none;
    }
  }

  @media #{$desktop} {
    display: flex;
    width: 420px;

    &--main-menu {
      order: -2;
    }
  }
}

.page-header__btn {

  @media #{$tablet} {
    display: none;
  }

  @media #{$desktop} {
    display: none;
  }

}

.page-header__link {
  display: block;
  padding: 28px 10px 27px 46px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: $text-color;
  border-top: 1px solid $border-color--light;
  border-bottom: 1px solid $border-color--light;

  @media #{$tablet} {
    padding: 0;
  }

  @media #{$desktop} {
    padding: 0;
  }

}

.page-header__list--main-menu  {
  .page-header__link {
    @media #{$tablet} {
      font-size: 15px;
    }
  }
}

.page-header__list--second-menu {
  .page-header__link {
    @media #{$desktop} {
      font-size: 15px;
    }
  }
}

.page-header__info {
  font-size: 15px;

  @media #{$mobile} {
    display: none;
  }
}

.page-header__intro {
  outline: 1px solid blue;
  min-height: 177px;
  background: $background-color;

  &--index {
    min-height: 489px;
    background: #fafafa url('../img/hero-mobile@1x.jpg') no-repeat 50% 0%;

    @media #{$retina} {
      background: #fafafa url('../img/hero-mobile@2x.jpg') no-repeat 50% 0%;
      background-size: 320px auto;
    }

    @media #{$tablet} {
      margin-top: -50px;
      min-height: 747px;
      background: #fafafa url('../img/hero-desktop@1x.jpg') no-repeat 50% 100%;

      @media #{$retina} {
        background: #fafafa url('../img/hero-desktop@2x.jpg') no-repeat 50% 100%;
        background-size: 768px auto;
      }
    }

    @media #{$desktop} {
      margin-top: -30px;
      min-height: 747px;
      background: #fafafa url('../img/hero-desktop@1x.jpg') no-repeat 50% 100%;

      @media #{$retina} {
        background: #fafafa url('../img/hero-desktop@2x.jpg') no-repeat 50% 100%;
        background-size: 1150px auto;
      }
    }
  }
}

.page-header__title {
  @include container();
  padding: 73px 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  &--index {
    padding-bottom: 118px;
  }


  @media #{$tablet} {
    padding-top: 95px;
    padding-bottom: 78px;
    font-size: 43px;
    line-height: 50px;

    &--index {
      padding-top: 156px;
      padding-bottom: 372px;
    }
  }

  @media #{$desktop} {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 53px;
    line-height: 57px;

    &--index {
      padding-top: 160px;
      padding-bottom: 355px;
    }
  }

}

.page-header__promo {

  @media #{$tablet} {
    @include container();
    display: flex;
  }

  @media #{$desktop} {
    @include container();
    display: flex;
  }

}

.page-header__promo-btn {
  display: block;
  padding: 28px;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
  color: $main-color;

  &--interior {
    background: $brand-color--light;
  }

  &--toys {
    background-color: $brand-color--dark;
  }

  @media #{$tablet} {
    width: 334px;
  }

  @media #{$desktop} {
    width: 525px;
  }

}
