.product {
  width: 260px;

  @media #{$tablet} {
    display: flex;
    width: 668px;
  }

  @media #{$desktop} {
    display: flex;
    flex-direction: column;
    width: 316px;

    &:hover .product__desc {
      box-shadow: 0 6px 10px 0 rgba($border-color--darken, 0.1);
    }

    &:active .pooduct__desc {
      box-shadow: 0 3px 5px 0 rgba($border-color--darken, 0.1);
    }
  }
}

.product__img-link img {
  display: block;
}

.product__desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 27px 28px 0 27px;
  border: 1px solid $border-color--light;

  @media #{$tablet} {
    width: 276px;
    margin: 0;
    padding: 25px 31px 0 25px;
  }

  @media #{$desktop} {
    flex-grow: 1;
    margin: 0;
    padding: 25px 32px 0 25px;
  }
}

.product__link {
  @media #{$desktop} {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.product__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $text-color;

  @media #{$tablet} {
    font-size: 20px;
  }

  @media #{$desktop} {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.product__spec {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;

  @media #{$tablet} {
    margin: 0;
    font-size: 15px;
  }

  @media #{$desktop} {
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
  }
}

.product__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 17px;
  padding-bottom: 25px;
  border-top: 1px solid $border-color--light;

  @media #{$tablet} {
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    padding-bottom: 20px;
    width: 270px;
  }

  @media #{$desktop} {
    padding-top: 18px;
    padding-bottom: 20px;
  }
}

.product__price {
  margin: 0;
  width: 150px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: $text-color;

  @media #{$tablet} {
    font-size: 17px;
  }

  @media #{$desktop} {
    font-size: 17px;
  }
}

.product__cart {
  display: block;
  margin-top: 5px;
  fill: $icon-color;

  &:hover {
    fill: $brand-color--light;
  }

  &:active {
    fill: rgba($brand-color--light, 0.3);
  }
}
