.products {
  @include container();
  font-family: $font-family;
}

.product span {
  @include visually-hidden;
}

.product__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $text-color;
}

.product__desc {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: $text-color;
}
