.product {
  width: 260px;

  @media #{$tablet} {
    display: flex;
    width: 666px;
  }

  @media #{$desktop} {
    display: flex;
    flex-direction: column;
    width: 314px;
  }

}

.product__desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: -10px;
  border: 1px solid $border-color--light;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($border-color--darken, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($border-color--darken, 0.1);
  }
}

.product__title {
  margin-top: 28px;
  margin-bottom: 5px;
  margin-left: 27px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $text-color;

  @media #{$tablet} {
    font-size: 20px;
  }

  @media #{$desktop} {
    font-size: 20px;
  }
}

.product__spec {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 27px;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;

  @media #{$tablet} {
    font-size: 15px;
  }

  @media #{$desktop} {
    font-size: 15px;
  }

}

.product__buy {
  display: flex;
  margin-top: auto;
  align-items: center;
  padding: 20px 28px 28px 27px;
}

.product__price {
  margin: 0;
  width: 130px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: $text-color;

  @media #{$tablet} {
    font-size: 17px;
  }

  @media #{$desktop} {
    font-size: 17px;
  }

}

.product__cart {
  @include img-replacement;
  margin: 0;
  display: block;
  width: 130px;
  height: 19px;
  background: url('../img/icon-cart.svg') no-repeat right;
}
