.shop-contacts {
  @include container();
  padding-bottom: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $text-color--muted;

  @media #{$tablet} {
    font-size: 17px;
    line-height: 30px;
  }


  @media #{$desktop} {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    line-height: 30px;
  }
}


.shop-contacts__info {

  @media #{$desktop} {
    margin-top: 80px;
    margin-left: 175px;
    width: 300px;
  }
}

.shop-contacts__title {
  margin: 0;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  color: $text-color;

  @media #{$tablet} {
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  @media #{$desktop} {
    margin-bottom: 65px;
    width: 300px;
    font-size: 53px;
    line-height: 57px;
  }
}

.shop-contacts__list {
  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
  }
}

.shop-contacts__item {
  margin: 0;
  padding: 0;
  display: table-row;
  list-style: none;

  @media #{$tablet} {
    width: 300px;;
    padding-right: 34px;
  }

  @media #{$desktop} {
    width: 334px;
  }

}

.shop-contacts__definition {
  display: table-cell;
}

.shop-contacts__value {
  display: table-cell;
  padding-left: 32px;
}

.shop-contacts__map {
  margin-left: -30px;
  margin-top: 35px;
  margin-bottom: 38px;
  width: 320px;
  height: 457px;
  background: $background-color url('../img/map-mobile@1x.jpg') no-repeat center;

    @media #{$retina} {
      background: $background-color url('../img/map-mobile@2x.jpg') no-repeat center;
      background-size: 320px auto;
    }

  @media #{$tablet} {
    margin-left: -50px;
    width: 768px;
    background: $background-color url('../img/map-tablet@1x.jpg') no-repeat center;

    @media #{$retina} {
      background: $background-color url('../img/map-tablet@2x.jpg') no-repeat center;
      background-size: 768px auto;
    }
  }

  @media #{$desktop} {
    position: absolute;
    bottom: 0;
    right: 50px;
    margin: 0;
    width: 525px;
    height: 460px;
    background: $background-color url('../img/map-desktop@1x.jpg') no-repeat center;

    @media #{$retina} {
      background: $background-color url('../img/map-desktop@2x.jpg') no-repeat center;
      background-size: 525px auto;
    }
  }
}

.shop-contacts__btn {

  @media #{$tablet} {
    margin: 0 auto;
  }

  @media #{$desktop} {

    margin-left: 175px;
  }
}
