.social {
  display: flex;
  align-items: center;
  width: 175px;
}

.social__btn {
  margin-right: 40px;
  text-decoration: none;

  &:hover {
    fill: $brand-color--darken;
  }

  &:active {
    fill: rgba($brand-color--darken, 0.3);
  }
}
