.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__btn {
  @include img-replacement();
  display: inline-block;
  margin-right: 40px;
  text-decoration: none;
  vertical-align: top;

  &--inst {
    width: 22px;
    height: 21px;
    background: url('../img/icon-insta.svg') no-repeat center;
  }

  &--fb {
    width: 15px;
    height: 29px;
    background: url('../img/icon-fb.svg') no-repeat center;
  }

  &--twit {
    width: 24px;
    height: 20px;
    background: url('../img/icon-twitter.svg') no-repeat center;
  }
}
