.video-block {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color--muted;
  border: 1px solid $border-color--light;


  @media #{$tablet} {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 30px;
  }

  @media #{$desktop} {
    position: relative;
    padding-left: 684px;
    min-height: 455px;
    font-size: 15px;
    line-height: 30px;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba($border-color--darken, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba($border-color--darken, 0.1);
    }
  }
}

.video-block__title {
  margin: 0;
  padding: 22px 32px 24px 87px;
  font-size: 17px;
  font-weight: 700;
  color: $text-color;

  @media #{$tablet} {
    margin: 38px;
    margin-bottom: 30px;
    padding: 0;
    padding-left: 67px;;
    width: 360px;
    font-size: 20px;
    line-height: 24px;
  }

  @media #{$desktop} {
    padding: 95px 120px 0 77px;
    margin-bottom: 32px;
    width: 170px;
    font-size: 20px;
    line-height: 24px;
  }

}

.video-block__video {
  background: $background-color url('../img/video-mobile@1x.jpg');

  @media #{$tablet} {
    width: 668px;
    height: 458px;
    order: -1;
    background: $background-color url('../img/video-tablet@1x.jpg');
  }

  @media #{$desktop} {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
    order: -1;
    background: $background-color url('../img/video-desktop@1x.jpg');
  }

}

.video-block__info {
  padding: 20px 40px 20px 32px;

  @media #{$tablet} {
    padding: 0 41px;
  }

  @media #{$desktop} {
    padding: 0 55px 0 77px;

  }
}

.video-block__desc {
  margin: 0;

}

.video-block__btn {
  margin-top: 27px;
  margin-bottom: 15px;

  @media #{$tablet} {
    margin-top: 33px;
    margin-bottom: 45px;
    width: 585px;
  }

  @media #{$desktop} {
    margin-top: 48px;
    width: 230px;
  }
}
