.video-block {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color--muted;
  border: 1px solid $border-color--light;


  @media #{$tablet} {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 30px;
  }

  @media #{$desktop} {
    position: relative;
    padding-left: 684px;
    min-height: 458px;
    font-size: 15px;
    line-height: 30px;
  }
}

.video-block__title {
  padding: 22px 32px 24px 87px;
  font-size: 17px;
  font-weight: 700;
  color: $text-color;

  @media #{$tablet} {
    margin: 41px;
    padding: 0;
    padding-left: 65px;;
    width: 360px;
    font-size: 20px;
    line-height: 24px;
  }

  @media #{$desktop} {
    margin-left: 77px;
    padding: 0;
    width: 200px;
    font-size: 20px;
    line-height: 24px;
  }

}

.video-block__video {

  @media #{$tablet} {
    width: 668px;
    height: 458px;
    order: -1;
    background: $background-color url('../img/video-tablet@1x.jpg');
  }

  @media #{$desktop} {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
    order: -1;
    background: $background-color url('../img/video-desktop@1x.jpg');
  }

}

.video-block__info {
  padding: 0 32px;

  @media #{$tablet} {
    padding: 0 41px;
  }

  @media #{$desktop} {
    padding: 0 55px 0 77px;

  }
}

.video-block__desc {

}

.video-block__btn {
  margin-top: 27px;

  @media #{$tablet} {
    width: 585px;
  }

  @media #{$desktop} {
    width: 230px;
  }
}
